[Unit]
Description=Kubernetes Kubelet
Documentation=https://kubernetes.io/docs/home/
After=containerd.service network-online.target time-sync.target
Wants=containerd.service network-online.target time-sync.target

[Service]
# kubeadm and local overrides
#EnvironmentFile=-/var/lib/kubelet/kubeadm-flags.env
#EnvironmentFile=-/etc/default/kubelet

ExecStart=/usr/bin/kubelet
Restart=always
RestartSec=10s
KillMode=process
Delegate=yes
MemoryAccounting=true
OOMScoreAdjust=-999

[Install]
WantedBy=multi-user.target
